
.border-pane {
    -fx-background-image: url("../images/bg.jpg");
    -fx-background-repeat: stretch;
}

/*      Left bar    */

.leftBarBG {
    -fx-background-color: rgba(255,255,255, 1);
}

.groupBG {
    -fx-pref-width: 200px;
    -fx-background-color: rgba(250,250,250, 1);
}

.groupBG > .viewport {
    -fx-background-color: rgba(250,250,250, 1);
}

.groupList {
    -fx-spacing: 3px;
    -fx-padding: 10px;

    -fx-background-color: transparent;
}

.groupItem {
    -fx-pref-width: 190px;
    -fx-padding: 2px 14px;
    -fx-background-insets: 0 7px;
    
    -fx-background-color: transparent;
    -fx-background-radius: 3px;

    -fx-alignment: center;
}

.deleteBtn {
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
    -fx-background-color: transparent!important;
}

.deleteBtn > .ikonli-font-icon {
    -fx-icon-size: 17px;
}

.groupItem > .label {
    -fx-text-fill: #000;
    -fx-font-weight: 400;
}

.groupItem:hover {
    -fx-text-fill: #000;
    -fx-background-color: rgba(230,230,230, 0.7);
}

.deleteBtn:hover > .ikonli-font-icon {
    -fx-icon-color: red;
}

/*      Left bar movs Btns     */

.movsBox {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-background-insets: 10px;
}

.movsBox > .button {
    -fx-pref-height: 30px;
    
    -fx-text-fill: #000;
    -fx-background-radius: 5px;
    -fx-background-color: transparent;
}

#toTimer {
    -fx-pref-width: 120px;
}

#toSettings {
    -fx-pref-width: 30px;
}

.movsBox > .button > .ikonli-font-icon {
    -fx-icon-size: 18px;
}

.movsBox > .button:hover {
    -fx-text-fill: root-light-color;
    -fx-background-color: rgba(230,230,230, 0.7);
}

.movsBox > .button:hover > .ikonli-font-icon {
    -fx-icon-color: root-light-color;
}

/*      Center       */

.center-view {
    -fx-alignment: center;
    -fx-spacing: 50px;
    -fx-padding: 50px;
}

/*      ToDoList         */

.task-scroll {
    -fx-background-color: transparent!important;
}

.task-scroll > .viewport {
    -fx-background-color: transparent !important;
}

#taskList {
    -fx-pref-width: 300px;
    -fx-padding: 10px 20px;
    -fx-spacing: 20px;
    -fx-fill-width: true; 

    -fx-alignment: top-right;
    -fx-node-orientation: left_to_right;

    -fx-background-color: transparent;
}

.task-left-group {
    -fx-spacing: 20px;
}

.taskItem {
    -fx-padding: 10px;
    -fx-background-color: #eeeded;
    -fx-background-radius: 5px;
}

.taskItem > .taskContent {
    -fx-max-width: 300px;
    -fx-wrap-text: true;

    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #999;
}

.taskItem > .secondaryInfo {
    -fx-alignment: bottom-right;
    -fx-font-size: 0.9em;
    -fx-text-fill: #999;
}

.taskItem:hover {
    -fx-background-color: #fff;
}

#addButton {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: #eee;
    -fx-background-radius: 5px;
    -fx-padding: 0;
}

#addButton > .ikonli-font-icon {
    -fx-icon-color: #000;
}

#addButton:hover {
    -fx-background-color: #fff;
}

#addButton:pressed {
    -fx-background-color: #bbb;
}

#addButton:hover > .ikonli-font-icon {
    -fx-icon-color: root-light-color;
}

#checkTask > .box {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

/* TASK FORM */

.taskForm {  
    -fx-pref-height: 20px;
}

#contentField {
    -fx-max-width: 200px;
    -fx-pref-width: 190px;
    -fx-wrap-text: true;
}

#contentField > .scroll-pane > .scroll-bar:vertical {
    -fx-pref-width: 4px;
}

#contentField {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#contentField:focused {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border), -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

#contentField > .content {
    -fx-background-color:-fx-control-inner-background;
}
#contentField:focused > .content {
    -fx-background-color:-fx-control-inner-background;
}

/*      Calendar     */

.calendar-container {
    -fx-spacing: 10px;
}

.calendar-top-bar {
    -fx-spacing: 10px;
}

.calendar {
    -fx-pref-width: 350px;
    -fx-padding: 15px;
    -fx-background-color: root-blocks-color;
    -fx-background-radius: 15px;
}

.calendar-row-container {
    -fx-spacing: 15px;
    -fx-padding: 15px 0;
    -fx-alignment: center;
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
}

.calendar-row {
    -fx-alignment: center;
}

.calendar-row > .button {
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-alignment: center;

    -fx-font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: 700;
    -fx-text-fill: #333;
    
    -fx-background-color: transparent!important;
    -fx-background-insets: 2px;
}

.calendar-row > .button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1)!important;
    -fx-text-fill: #000;
}

.weekDays {
    -fx-padding: 10px 0;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
}

#calendarGridPane {
    -fx-pref-width: 250px;
    -fx-pref-height: 300px;
}

.btnArrow {
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
    
    -fx-background-color: #eeeded;
    -fx-background-radius: 5px;
    
    -fx-padding: 0;
}

.btnArrow > .ikonli-font-icon {
    -fx-icon-size: 13px;
}

.btnArrow:hover {
    -fx-background-color: #fff;
}

.btnArrow:hover > .ikonli-font-icon {
    -fx-icon-color: #000;
}

#calendarLabel {
    -fx-alignment: center;
    -fx-pref-width: 250px;

    -fx-font-size: 15px;
    -fx-font-weight: 700;

    -fx-background-color: root-blocks-color;
    -fx-background-radius: 5px;

    -fx-padding: 6px;
}

#today {
    -fx-font-weight: 700;
    -fx-background-color: root-light-color!important;
    -fx-background-insets: 5px;
    -fx-text-fill: #fff;
    -fx-background-radius: 100%;
    -fx-padding: 5px 10px;
}

#today:hover {
    -fx-background-color: #d1618e!important;
}

#passiveDay {
    -fx-text-fill: gray;
}

.activeDate {
    -fx-border-width: 1px;
    -fx-border-color: root-append-color;
    -fx-border-radius: 5px;
    -fx-border-insets: 2px;
    
    /* -fx-background-color: root-append-color!important; */
    /* -fx-border-radius: 100%; */
}

.activeDate:hover {
    /* -fx-background-radius: 100%; */
}