/*      Top bar     */

.topBar {
    -fx-max-width: 300px;
    -fx-pref-width: 150px;
    -fx-pref-height: 70px;
    
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-padding: 20px 50px;
    -fx-background-color: root-blocks-color;
    -fx-background-radius: 10px;
    -fx-background-insets: 10px;
}

.topBar > .button {
    -fx-pref-width: 80px;
    -fx-pref-height: 30px;
    -fx-background-radius: 5px;
}

.topBar > .button > .ikonli-font-icon {
    -fx-icon-size: 17px;
}

/*      Center       */

.center-view {
    -fx-alignment: center;
    -fx-spacing: 50px;
    -fx-padding: 50px;
}

/*      ToDoList         */

#taskList {
    -fx-pref-width: 300px;
    -fx-padding: 10px 20px;
    -fx-spacing: 20px;
    -fx-fill-width: true; 

    -fx-alignment: top-right;
    -fx-node-orientation: left_to_right;
}

.taskForm {  
    -fx-pref-height: 70px;
}

.task-left-group {
    -fx-spacing: 20px;
}

.taskItem {
    -fx-alignment: top-left;
    -fx-spacing: 20px;
    -fx-padding: 10px;
    -fx-background-color: #eeeded;
    -fx-background-radius: 5px;
}

.taskItem > .label{
    -fx-max-width: 150px;
    -fx-wrap-text: true;
}

.taskItem:hover {
    -fx-background-color: #fff;
}

#addButton {
    -fx-pref-width: 70px;
    -fx-pref-height: 25px;
    -fx-padding: 0;
}

#checkTask > .box {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

#contentField {
    -fx-pref-width: 150px;
    -fx-max-width: 150px;
    -fx-wrap-text: true;
}

#contentField > .scroll-pane > .scroll-bar:vertical {
    -fx-pref-width: 4px;
}

/*      Calendar     */

.calendar-container {
    -fx-spacing: 10px;
}

.calendar-top-bar {
    -fx-spacing: 10px;
}

.calendar {
    -fx-pref-width: 350px;
    -fx-padding: 15px;
    -fx-background-color: root-blocks-color;
    -fx-background-radius: 15px;
}

.calendar-row-container {
    -fx-spacing: 15px;
    -fx-padding: 15px 0;
    -fx-alignment: center;
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
}

.calendar-row {
    -fx-alignment: center;
}

.calendar-row > .button {
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-alignment: center;

    -fx-font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: 700;
    -fx-text-fill: #333;
    
    -fx-background-color: transparent!important;
    -fx-background-insets: 2px;
}

.calendar-row > .button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1)!important;
    -fx-text-fill: #000;
}

.weekDays {
    -fx-padding: 10px 0;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
}

#calendarGridPane {
    -fx-pref-width: 250px;
    -fx-pref-height: 300px;
}

.btnArrow {
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
    
    -fx-background-color: #eeeded;
    -fx-background-radius: 5px;
    
    -fx-padding: 0;
}

.btnArrow > .ikonli-font-icon {
    -fx-icon-size: 13px;
}

.btnArrow:hover {
    -fx-background-color: #fff;
}

.btnArrow:hover > .ikonli-font-icon {
    -fx-icon-color: root-light-color;
}

#calendarLabel {
    -fx-alignment: center;
    -fx-pref-width: 250px;

    -fx-font-size: 15px;
    -fx-font-weight: 700;

    -fx-background-color: root-blocks-color;
    -fx-background-radius: 5px;

    -fx-padding: 6px;
}

#today {
    -fx-font-weight: 700;
    -fx-background-color: root-light-color!important;
    -fx-background-insets: 5px;
    -fx-text-fill: #fff;
    -fx-background-radius: 100%;
    -fx-padding: 5px 10px;
}

#today:hover {
    -fx-background-color: rgba(29, 84, 102, 0.5);
}

#passiveDay {
    -fx-text-fill: gray;
}

.activeDate {
    /* -fx-background-color: root-append-color!important; */
    -fx-border-width: 1px;
    -fx-border-color: root-append-color;
    -fx-border-radius: 100%;
    -fx-border-insets: 2px;
}

.activeDate:hover {
    -fx-background-radius: 100%;
}