/*      Top bar     */

.topBar {
    -fx-padding: 20px 50px;
    -fx-background-color: root-blocks-color;
    -fx-background-radius: 15px;
    -fx-background-insets: 10px;
    -fx-button-min-width: 10px;
}

.barButtons {
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-background-radius: 5px;
}

/*      Left bar     */

#taskList {
    -fx-padding: 10px;
    -fx-spacing: 20px;
    -fx-fill-width: true; 

    -fx-alignment: top-center;
    -fx-node-orientation: right_to_left;
}

/*      Calendar     */

.calendar {
    -fx-padding: 10px;
    -fx-background-color: root-blocks-color;
    -fx-background-radius: 15px;
}

.weekDays {
    -fx-padding: 15px 0;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
}

#calendarGridPane {
    -fx-pref-width: 250px;
    -fx-pref-height: 300px;
}

.btnArrow {
    -fx-pref-width: 40px;
}

#calendarLabel {
    -fx-alignment: center;
    -fx-font-size: 17px;
    -fx-font-weight: 700;

    -fx-padding: 7px;
    -fx-background-color: root-blocks-color;
    -fx-background-radius: 10px; 
}

.day {
    -fx-font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: 700;
}

#today {
    -fx-font-weight: 700;
    -fx-background-color: rgb(29, 84, 102);
    -fx-text-fill: #fff;
    -fx-background-radius: 100%;
    -fx-padding: 5px 10px;
}

#passiveDay {
    -fx-text-fill: gray;
}