.root {
    root-light-color: #d3d6da;
    root-dark-color: #3c2d2d;
    
    root-blocks-color: #fff; 
    root-task-list-color: #adb3b9;

    root-append-color: #eb5151;
    
    root-scroller-color: rgba(70,70,70,0.7);
    root-scroller-bg-color: rgba(160,160,160,1);

    -fx-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: 400;
}

.v-box, .anchor-pane, .split-pane, .stack-pane, .border-pane{
    -fx-background-color: root-light-color;
}

.scroll-pane {
    -fx-alignment: center;
    -fx-pref-width: 300px;
    
    -fx-border-color: root-dark-color;
    -fx-border-width: 0;
    
    -fx-hbar-policy: never;
    -fx-vbar-policy: as-needed;
}

/*      SCROLL-PANE      */

.scroll-pane > .viewport {
    -fx-background-color: root-light-color;
}

.scroll-pane > .scroll-bar:vertical {
    -fx-background-color: root-scroller-bg-color;
    -fx-background-radius: 5px;
}

/*      REMOVE SCROLL BUTTONS         */

.scroll-pane > .scroll-bar:vertical > .increment-button,
.scroll-pane > .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0 0 0 0;
}
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-padding: 0 0 0 0;
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0 0 0 0;
}
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 0 0 0 0;
}

.thumb {
    -fx-background-color: root-scroller-color;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0.4em;
}

.ikonli-font-icon {
    -fx-icon-size: 20px;
}

.task-item {
    -fx-alignment: top-left;
    -fx-spacing: 20px;
    -fx-padding: 5px 5px;
    -fx-border-color: #000;
    -fx-border-width: 0 0 1px 0;
}

.button {
    -fx-text-fill: root-dark-color;
    -fx-font-weight: 700;

    -fx-padding: 7px 12px;
    
    -fx-background-radius: 5px;
    -fx-background-color: root-append-color;
    
    -fx-pref-width: 140px;
    -fx-pref-height: 25px;
}

.button:hover {
    -fx-text-fill: root-light-color;
    -fx-background-color: root-dark-color;
}

.button:hover > .ikonli-font-icon {
    -fx-icon-color: white;
}